@import "./mixins/mixins.scss";
@import "./mixins/utils.scss";

//scss数组--scss List：js中为[],scss中为()



@include b(row){ //调用混合函数同时传参为row
  box-sizing: border-box;//防止后续添加了padding导致盒子尺寸发生溢出

  //在b这个主混合函数中调用utils-clearfix函数
  @include utils-clearfix;

  @include m(flex){
    display: flex;

    &::after,
    &::before {
      display: none;
    }

    // justify赋值类样式
    @include when(justify-end) {
      justify-content: flex-end;
    }

    @include when(justify-center) {
      justify-content: center;
    }

    @include when(justify-space-between) {
      justify-content: space-between;
    }

    @include when(justify-space-around) {
      justify-content: space-around;
    }

    @include when(justify-space-evenly) {
      justify-content: space-evenly;
    }

    // align赋值类样式

    @include when(align-middle) {
      align-items: center;
    }

    @include when(align-bottom) {
      align-items: flex-end;
    }

  }
}
