@import "./config.scss";


/*
  功能相关
*/

//定义功能混合函数
//清除浮动
@mixin utils-clearfix {
 $selector:&;

  //@at-root 用于跳出嵌套层次，将样式或选择器输出到根级别，常用于 BEM 命名或控制选择器特异性。
  @at-root {
    #{$selector}::after,
    #{$selector}::before {
      display: block;
      content: "";
    }

    #{$selector}::after {
      clear: both;
    }
  }
}


//防止文本被复制--编辑器中属性值直接被划掉需要考虑上兼容性的问题
@mixin utils-user-select ($value) {
  user-select: $value;
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}
